*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
}

body{
    /* background-color: #1b1b1b; */
}
.navbar{
    width: 100%;
 
    background-color: #1b1b1b;
    height: 70px;
    margin: auto;
    position: fixed;
    z-index: 1;
    /* position: sticky; */
}


nav .logo{
    float: left;
    color: aliceblue;
    font-size: 20px;
    font-weight: 600;
    padding-left: 60px;
    margin-top: 20px;

}
.logo h2{
    color: #fca5a5;
}

/* nav .logo span{
    color: #fca5a5;
} */

nav ul {
    float: right;
    list-style: none;
    margin-right: 447px;
    position: relative;
}

/* to make the list in one line */
nav ul li {
    display: inline-block;
    margin: 0 5px;
    /* margin-left: 20px; */
}

/* for decoration of nav list */
nav ul li a{
    color: aliceblue;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
}
/* to chnge the color of nav list by hover */
nav ul li a:hover{
    color: #fca5a5;
    border-radius: 5px;
    background-color: #272626;
}

/* for dropdwon of traning element  */
nav ul ul{
    position: absolute;
    top: 90px;
    visibility: hidden;
    background-color: #101010;
    border-radius: 5px;
    z-index: 0;
}

nav ul ul li{
    position: relative;
    margin: 0px;
    width: 300px;
    display: list-item;
}
nav ul ul li a:hover{
    color: #fca5a5;
}

/* to show the dropdown menu by hover */
nav ul li:hover>ul{
    visibility: visible;
    top: 70px;
    
}

/* for space btw box/list */
nav ul ul li a {
    line-height: 50px;
}

/* by hover ul ul list background color will change */
nav ul ul li:hover{
    background-color: #272626; 
    border-radius: 5px;
 }


 /* //// btn //// */
 .btn{
    float: right;
    top: 15px;
    margin-right: -900px;
    position: relative;
    padding: 10px;
    border-radius: 10px;
 }

 .btn:hover{
    border-radius: 5px;
    background-color: #272626;
 }

 .btn a{
    color: aliceblue;
    font-size: 18px;
 }

 .btn a:hover{
    color: #fca5a5;
 }

 /* //////////////////////////////////////////// */

 #home{
    background-color: #1b1b1b;
    padding: 3px 200px;
    height: 465px;
    justify-content: center;
    align-items: center;
}
#home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    width: 100%;
    z-index: -1;
    /* opacity: 0.89; */
}
 .content{
    position: absolute;
    top: 18%;
    left: 38%;
    transform: translate(-50%);
    background-color: #1b1b1b;
 }

 h1{
    color: white;
    margin: 10px 0px 10px;
    font-size: 4.5rem;
    /* color: transparent;
    -webkit-text-stroke: 1px #fff;
background: url(./back.PNG);
-webkit-background-clip: text;
background-position: 0 0;
animation: back 20s linear infinite; */
}
/* @keyframes back {
    background-position: 2000px 0;
} */


.content p{
    color: aliceblue;
    position: absolute;
    top: 125%;
    font-size: 1rem;
}

.btnn{
   color: aliceblue;
   padding: 10px;
   border-radius: 10px;
   background-color: transparent;
   position: absolute;
    top: 141%;
    background-color: #272626;
    border: 1px solid #fca5a5;
}

 .btnn a{
    color: aliceblue;
    font-size: 18px;
 }

 .btnn a:hover{
    color: #fca5a5;
 }
 .btnn .fa-solid{
    color: #fca5a5;
 }

 /* /////////////// */

 #box{
    display: flex;
    left: 55%;
    position: absolute;
    min-height: 330px;
    min-width: 330px;
    top: 256px;
}

#box .img{
    margin: 20px;
    /* border: 2px solid red; */
    height: 253px;
    width: 257px;
    /* padding: 20px 30px; */
    background: #191919;
    /* border-radius: 20px; */
    justify-content: center;
    position: relative;
    overflow: hidden;
    text-align: center;
    
}
/* // */
#service{
    background-color:#272626;
    width: 100%;
    /* height: 100%; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 700px;
}

#service .card{
    height: 205px;
    width: 254px;
    padding: 20px 30px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
}

.card .img{
   width: 55px;
}
.card h5{
    margin-top: 13px;
    font-size: 1.2rem;
}
.card p{
    margin-top: 11px;
    font-size: 13px;
}

.cardpara{
    height: 250px;
    width: 275px;
    background: #191919;
    margin: 20px;
    overflow: hidden;
    border-radius: 50%;
}

/* ///// products /// */
#product{
    background-color:#272626;
    width: 100%;
    color: white;
    min-height: 700px;
}

#product .cards{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 455px;
}
.circle{
    width: 31%;
    height: 90%;
}

.list{
 display: flex;
}
.list .styl{
    padding-left: 281px;
    display: flex;
   cursor: pointer;
}
.list .styl h4:hover{
    color: #fca5a5;
}
.list h4{
    padding-left: 23px;
    padding-top: 10px;
}

.list h2{
    padding-left: 140px;
    font-size: 2.2rem;
    color: #ffd7d7;
}





/* /////// company /// */
#company .slide{
    background-color:#272626;
    width: 100%;
    /* height: 100%; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
#company{
   background-color:#272626;
    width: 100%;
    color: white;
    min-height: 500px;
}

#company .box{
    height: 205px;
    width: 254px;
    padding: 20px 30px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    display: inline-block;

}
#company .box p{
    margin-top: 55px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

.name{
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color:#272626;
}

.name h2{
    font-size: 2.2rem;
    color: #ffd7d7;
}

#company .bttn{
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.bttn a{
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    background-color: #191919;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #fca5a5;
}
.bttn a:hover{
    color: #fca5a5;
}

/* ///////////////////////////////////////// */

#view-more{
    position: relative;
    width: 100%;
    background-color:#272626;
    display: grid;
    grid-template-columns: 2fr 2fr;
    min-height: 550px;
}

#view-more .v-content{
    position: relative;
    padding: 40px;
    margin-left: 85px;

}
#view-more .v-content h2{
    color: aliceblue;
    font-size: 3rem;
    margin-top: 40px;
}

#view-more .v-content p{
    color: aliceblue;
    font-size: 15px;
    margin-top: 40px;
}
#view-more .v-content .bttn{
    position: relative;
    top: 40px;
}

/* /// */

#view-more .v-img{
   display: flex;
   justify-content: center;
   align-items: center;
}


#view-more .v-img img{
    width: 64%;
    height: 45%;
    border-radius: 134px;
    transform: rotate(15deg);
}

/* /////////// */
#insta {
    position: relative;
    width: 100%;
    background-color:#272626;
    display: grid;
    grid-template-columns: 2fr 2fr;
    min-height: 580px;
}
#insta .insta-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

#insta .insta-c{
    position: relative;
    padding: 40px;
    margin-left: 5px;
}

#insta .insta-c h2{
    color: aliceblue;
    font-size: 3rem;
    margin-top: 40px;
}

#insta .insta-c p{
    color: aliceblue;
    font-size: 15px;
    margin-top: 40px;
}
#insta .insta-c .bttn{
    position: relative;
    top: 40px;
}
#insta .insta-c .bttn .fa-brands{
color: #fca5a5;
font-size: 23px;
padding-left: 10px;
}


/* /////Footer////// */
footer #container{
    background-color:#272626 ;
}
.row{
    display: flex;
    justify-content: space-between;
    padding: 45px 106px;
}

.footer-col ul{
    list-style: none;

}
.footer-col h2{
    color: aliceblue;
    font-size: 2rem;
    margin-bottom: 20px;
    position: relative;
}
.footer-col .color{
    color: #fca5a5;
}
.footer-col ul li{
    padding: 10px 0;
    display: inline-block;
    margin-right: 10px;


}
.footer-col ul li a{
color: aliceblue;
text-decoration: none;
font-size: 16px;
opacity: 0.7;
transition: 0.5s;
}
.footer-col ul li a:hover{
    opacity: 1;
}
.footer-col p{
    color: aliceblue;
text-decoration: none;
font-size: 16px;
}
.footer-col .box{
    background-color: #191919;
    margin-top: 21px;
    width: 292px;
    height: 42px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
    border: 1px solid #fca5a5; 
}
.footer-col input{
    width: 240x;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;

}
.footer-col .fa-regular{
    color: #fca5a5;
    cursor: pointer;
}
.footer-col .text li{
    color: aliceblue;
}
.footer-col .text a{
    color: aliceblue;
}
.row2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-top: 1px solid #101010;
}

.row2 .col p{
    color: aliceblue;
}



